@media only screen and (min-width: 996px){
    header{
        height: 80px;
        .bd-logo{
            margin-left: 100px;
            width: 36px;
        }
        .open{
            display: none;
        }
        ul{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin-top: 26px;
            margin-right: 100px;
            li{
                background-color: #FFFFFF;
                list-style: none;
                a{  
                    margin-left: 38px;
                    padding: 0;
                    color: #060A24;
                    font-family: 'IBM Plex Mono', monospace;
                    align-self: center; 
                    
                    &:hover{
                        color: #00F3BB;
                        text-decoration: line-through;  
                    }
                    &:active{
                        color: #060a2456;
                        text-decoration: line-through;
                    }
                }   
            }
        }
    }
    /******************section title******************/
    .hello-world{
        h1{
            font-size: 64px;
            margin: 120px 0 0 200px;
        }
        p{
            margin: 0 450px 0 200px;
        }
        a{
            width: 226px;
            padding: 16px 59px;
            margin-left: 200px;
            &:hover{
                background: rgb(0,240,184);
                background: linear-gradient(90deg, rgba(0,240,184,1) 0%, rgba(0,0,254,1) 100%);
                color: white;
            }
            &:active{
                color: #060a2456;
                text-decoration: line-through;
            }

        }
    }
    /*****************section episodes************************/
    .backblue{
        clip-path: polygon(0 12%, 100% 0%, 100% 88%, 0% 100%)
    }
    .episodes{
        height: 750px;
        h2{
            margin: 150px 1031px 50px 200px;
        }
        .spoty-container{
            grid-template-columns: 1fr 1fr;
            gap: 72px;
            margin: 26px 100px 0 100px;
        }
    }
    /***********cellphone**********/
    .cell-container{
            margin-top: 64px;
            flex-direction: row;
        .phoneimg{
            margin-left: 150px;
            img{
                width: 457.6px;
            }
        }
        .title-phone{
            h2{
                margin: 200px 0 0 100px;
            }
            p{
                margin: 24px 204px 0 100px;
            }
        }
    }
        
    /************container-guests******************/
    .container-guests{
        h2{
            font-size: 48px;
            margin-left: 200px;
        }
        .women{
            display:grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
        }
    }
    /************subject******************/
    .subject{
        .title{
            font-size: 48px;
            margin: 65px 500px 0 200px;
        }
        .icons{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            align-content: space-evenly;
            margin: 50px 210px 0 210px;
            a{
                h2{
                    margin-top: 30px;
                }
            }
        }
    }
    /*************news**************/
    .news{
        .listen-button{
            padding: 16px 59px;
            &:hover{
                background: rgb(0,240,184);
                background: linear-gradient(90deg, rgba(0,240,184,1) 0%, rgba(0,0,254,1) 100%);
                color: white;
            }
            &:active{
                color: #060a2456;
                text-decoration: line-through;
            }

        }
    }  
    /***********footer**************/
    footer{
        flex-direction: row;
        align-items: center;
        p{
            font-size: 16px;
            width: 100%;
            text-align: left;
            margin-left: 100px;
        }
        .social{
            justify-content: flex-end;
            margin-right: 100px;
            a{
                margin-left: 36px;
            }
        }
    }
}